
.md-header {
  background-color: #1A237E !important;
}
.md-header__button.md-logo img {
  height: 42px;
}

.status-chip {
  display: inline-block;
  color: white;
  padding: 0px 16px;
  border-radius: 20px;
  font-size: small;
}

.status-red {
  background-color: red;
}

.status-orange {
  background-color: orange;
}

.status-yellow {
  background-color: yellow;
}

.status-green {
  background-color: green;
}

.status-gray {
  background-color: gray;
}

.team-member-div {
  display: flex;
  flex-direction: row;
}

.team-member-photo {
  width: 31%;
  float: left;
  margin: 5px;
}

.tool-card-photo {
  max-height: 300px;
  object-fit: fill;
}
